<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

<nav>
  <% if !current_user %>
    <ul>
      <form class="firstform"
            action ="<%= session_path %>"
            method="POST"
            autocomplete="false">

      <li><input type="hidden"
                 name="authenticity_token"
                 value="<%= form_authenticity_token %>"></li>

      <li><input type="text"
                     name ="user[email]"
                     placeholder="Your email address"><li>

      <li><input type="password"
                     name="user[password]"
                     placeholder="Password"><li/>

      <li><button  class="btn waves-effect waves-light"
                       input type ="submit"
                        value="login">Log In</button><li>
      </form>
    </ul>
  <% else %>
    <form action="<%= session_path %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn waves-effect waves-light" input type="submit" value="Log out!">Log out</button>
    </form>
  <% end %>
</nav>

<h1>Sign Up</h1>

<form class="secondform"
      action ="<%= users_path %>"
      method="POST"
      autocomplete="false">

    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

    <div class="row">
      <div class="input-field col s12">
        <input type="text"
               name ="user[name]"
               placeholder="">
           <label for="Address">Name</label>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input type="text"
               name ="user[address]"
               placeholder="">
        <label for="Address">Address</label>
    </div>

   <div class="row">
      <div class="input-field col s12">
        <input type="text"
               name ="user[age]"
               placeholder=""><br/>
        <label for="age">Age</label>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input type="text"
               name ="user[email]"
               placeholder="">
          <label for="email">Your email address</label>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input type="password"
               name="user[password]"
               placeholder="">
           <label for="password">Password</label>
      </div>
    <center>
    <input type="radio"
           id="test1"
           name="user[type]"
           value="Child"
           checked>
           <label for="test1">Child</label>

    <input type="radio"
           id="test2"
           name="user[type]"
           value="Elf">
           <label for="test2">Elf</label><center>
           <br/>


  <button  class="btn waves-effect waves-light"
           type ="submit"
           value="sign up">Sign Up
  </button>
  <!-- Note, this does not sign you in!  It redirects to Root and you then log in -->
</form>
