<!DOCTYPE html>
<html ng-app="SantaFunke">
<head>
  <title>SantaFunke</title>
  <%= csrf_meta_tags %>

  <!-- Angular Material CSS now available via Google CDN; version 0.11.2 used here -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

  <!-- our own style sheet -->
  <%= stylesheet_link_tag    'angular', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>

  <!-- Angular Material JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.js"></script>



</head>
<body>


  <header>
    <nav>
        <!-- Christmas Countdown Start -->
        <div id="countdown"></div>
        <!-- Christmas Countdown End -->

        <!-- Different Logout Form for Elf/Child -->
        <% if current_user.type === "Child" %>
          <div class="nav-wrapper">
        <% else %>
          <div class="nav-wrapper teal lighten-1">
        <% end %>
           <form class="secondlogout"
                 action="<%= session_path %>"
                 method="POST">
             <input type="hidden"
                    name="authenticity_token"
                    value="<%= form_authenticity_token %>">
             <input type="hidden"
                    name="_method"
                    value="DELETE">
        <% if current_user.type === "Child" %>
          <button class="btn waves-effect waves-light"
                  type="submit"
                  value="Log out!">Log out</button>
        <% else %>
          <button class="btn waves-effect red lighten-1"
                  type="submit"
                  value="Log out!">Log out</button>
        <% end %>
           </form>
         </div>
        <!-- End Different Logout Form for Elf/Child -->
    </nav>
    <br>
    <br>
  </header>
<!--  -->

  <!-- Session Things -->
  <div id="session-div"
       ng-controller="SessionController as sessionCtrl">
       <!-- singular because it'll only ever handle the currently logged in user -->
    <h1>
      Hello, {{sessionCtrl.current_user.type}} {{sessionCtrl.current_user.name}}!
      <br>
      <marquee  width=400 height=100><img src="http://mybirdie.ca/files/how-santa-got-his-reindeer.gif" height="100px"></marquee>
      <img src="http://i.giphy.com/A27PZDSLuK6ys.gif" width= "35%">
    </h1>
    <h4 class="alltab">
      <% if current_user.type === "Child" %>
      You are {{sessionCtrl.current_user.age}} years old. You've grown so much in the past year!
      <% end %>
      <% if current_user.type === "Elf" %>
      <h5 class="alltab">GET BACK TO WORK! THERE ARE CHILDREN TO BE JUDGED!</h5>
      <% end %>
    </h4>
    <br>
  </div>
  <!-- End Session Things -->

<div class="alltab"> <!-- whole page contained in this div -->
  <!-- Start naughty/nice elf "partial" -->
  <% if current_user.type === "Elf" %>
    <!-- Instantiate the list of children using the ChildrenController -->
    <div id="naughty-nice" ng-controller="ChildrenController as naughtyNiceCtrl">
      <div class="child" ng-repeat="child in naughtyNiceCtrl.children">
        <!-- entirety of the child view. click to expand the child's wishlist. -->
        <h4>{{child.name}}</h4></br>
        <div class="wishlist">
            <table class="highlight">
              <thead>
                <tr>
                  <th data-field="name">Name</th>
                  <th data-field="value">Value</th>
                  <th data-field="description">Description</th>
                </tr>
              </thead>
              <tbody ng-repeat="present in child.presents">
                <tr>
                  <td>{{present.toy.name}}</td>
                  <td>{{present.toy.value}}</td>
                  <td>{{present.toy.description}}</td>
                </tr>
              </tbody>
            </table>
        </div>

        <!-- start judgment "partial" -->
      <hr>
        <div class="judgment_day">
          <table class="highlight">
            <thead>
              <tr>
                <th data-field="elf_name">Judger</th>
                <th data-field="description">Description</th>
                <th data-field="naughtiness">Naughty?</th>
              </tr>
            </thead>
            <tbody class="judgment" ng-repeat="judgment in child.judgments">
              <tr>
                <td>{{judgment.elf_name}}</td>
                <td>{{judgment.description}}</td>
                <td>{{judgment.qualifying_adverb}} {{judgment.naughty}}</td>
              </tr>
            </tbody>
          </table>
            <!-- judgment creation form -->
            <h5>Submit a new judgment!</h5>
            <span ng-controller="JudgmentController as judgmentCtrl">
            <form ng-submit="judgmentCtrl.createJudgment()">
                <!-- just using the currentUserName variable in angular.js instead of capturing it on the form -->
                <!-- <td><input type="hidden" ng-model="judgmentCtrl.elfName" readonly value="{{judgmentCtrl.elfName}}"/></td> -->
                <!-- <td></td> just a blank one to fill the column -->
                <input type="text" ng-model="judgmentCtrl.description" placeholder="Description"/>
                <input type="checkbox" ng-model="judgmentCtrl.naughty" id="filled-in-box"
                class="filled-in"/>
                <label for="filled-in-box">Check this if they were naughty!</label>
                <input type="text" ng-model="judgmentCtrl.qualifyingAdverb" placeholder="HOW naughty or nice? (Write adverb here!)"/>
                <input type="submit" value="submit"/>
              </form>
            </span>
            <!-- create judgment button -->
          </div> <!-- end of the judgmentday div -->

      </div> <!-- closes the ng-repeat per child -->
    </div> <!-- closes the ChildrenController -->
  <% end %>

  <!-- Start wishlist "partial" -->
<% if current_user.type === "Child" %>

    <!-- child avatar image -->
  <img src="http://1.bp.blogspot.com/-dZWOzEoZHs0/UDILL8QE-hI/AAAAAAAACog/o1V4u2WwFk0/s1600/SMART+BOY+FB.jpg" height="100">


  <!-- Please note, the code for this is predicated on current_user being a Child -->
    <!-- The use of "wishlistCtrl" is an attempt to be semantic, we want to use this model as the portal to all wishlist stuff
         Toy creation, toy reading, present creation, toy editing FB/KW -->
    <div ng-controller="ToyController as wishlistCtrl">
      <!-- my_toys -->
      <h5>These are presents!</h5>
      <div class="wishlist">
          <!-- 'GET' /presents must return current_user's -->
          <table class="highlight">
            <thead>
              <tr>
                <th data-field="id">Name</th>
                <th data-field="name">Value</th>
                <th data-field="price">Description</th>
              </tr>
            </thead>
            <tbody ng-repeat="present in wishlistCtrl.my_toys">
              <tr>
                <td>{{present.toy.name}}</td>
                <td>{{present.toy.value}}</td>
                <td>{{present.toy.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
          <!-- end presents list -->
      <div id="create-present">
        <!-- got this to work by nesting the ToyController within the SessionController -->
        <h5>Choose a present from the list!</h5>
          <form ng-submit="wishlistCtrl.createPresent()">
              <p ng-repeat="toy in wishlistCtrl.all_toys">
                <input ng-model="wishlistCtrl.toyID" type="radio" name="toys" id="{{ toy.id }}" value="{{ toy.id }}">
                <label for="{{ toy.id }}"> {{toy.name}} </label>
              </p>
              </br>
            <input type="submit" value="submit present"/>

            <br>

          </form>
        <!-- present creation form -->
      </div>
      <!-- all_toys -->


    <!-- createToy start -->
    <h5>Create your Toy!</h5>
     <form ng-submit="wishlistCtrl.createToy()" class="form3">
       <input type="text" ng-model="wishlistCtrl.newToyName" placeholder="toy name"/>
       <input type="number" ng-model="wishlistCtrl.newToyValue" placeholder="toy value"/>
       <input type="text" ng-model="wishlistCtrl.newToyDescription" placeholder="toy description"/>
       <input type="submit" value="submit toy" />
     </form>
     <!-- createToy end -->
   </div> <!-- closes toy controller -->

<% end %>
</div>

  <!-- End wishlist "partial" -->

  <!--  yield  -->
</div> <!-- end alltab div -->
<%= javascript_include_tag 'angular', 'data-turbolinks-track' => true %>

<!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>

</body>
</html>
