<!DOCTYPE html>
<html ng-app="SantaFunke">
<head>
  <title>SantaFunke</title>
  <%= stylesheet_link_tag    'angular', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js" charset="utf-8"></script>
</head>
<body>
  <header>
    <form action="<%= session_path %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn waves-effect waves-light" input type="submit" value="Log out!">Log out</button>
    </form>
  </header>
  <div id="session-div"
       ng-controller="SessionController as sessionCtrl">
       <!-- singular because it'll only ever handle the currently logged in user -->
    <h1>
      Hello, {{sessionCtrl.current_user.type}} {{sessionCtrl.current_user.name}}!
    </h1>
    <h2>
      <% if current_user.type === "Child" %>
      You are {{sessionCtrl.current_user.age}} years old. You've grown so much in the past year!
      <% end %>
      <% if current_user.type === "Elf" %>
      GET BACK TO WORK! THERE ARE CHILDREN TO BE JUDGED!
      <% end %>
    </h2>
  </div>
  <!-- Start wishlist "partial" -->
  <% if current_user.type === "Child" %>
  <!-- Please note, the code for this is predicated on current_user being a Child -->
    <!-- The use of "wishlistCtrl" is an attempt to be semantic, we want to use this model as the portal to all wishlist stuff
         Toy creation, toy reading, present creation, toy editing FB/KW -->
    <div class="wishlist" ng-controller="ToyController as wishlistCtrl">
      <!-- my_toys -->
      <div ng-repeat="present in wishlistCtrl.my_toys" class="present">
        <!-- 'GET' /presents must return current_user's -->
        <h1>This is a present!</h1>
          <div class="present_toy">
            name: {{present.toy.name}}
            value: {{present.toy.value}}
            descript: {{present.toy.description}}
          </div>
          <!-- We dont need more info for the child view -->
            <div class="present_child">
              name: {{present.child.name}}
            </div>
            <div class="present_elf">
              name: {{present.elf.name}}
            </div>
      </div>
      <!-- end presents list -->
      <div id="create-present">
        <form ng-submit="wishlistCtrl.createPresent()">
          <input type="hidden" ng-model="wishlistCtrl.current_user" value="{{current_user.id}}">
          <select ng-model="wishlistCtrl.toyID">
            <option ng-repeat="toy in wishlistCtrl.all_toys"
            value = toy.id>
            {{toy.name}}</option>
          </select>
          <input type="submit" value="submit present" />
        </form>
        <!-- present creation form -->
      </div>
    </div>

      <!-- all_toys -->


      <!-- createToy start -->
      <h2>Create your Toy!</h2>
       <form ng-submit="toyCtrl.createToy()">
         <input type="text" ng-model="toyCtrl.newToyName" placeholder="toy name"/>
         <input type="text" ng-model="toyCtrl.newToyDescription" placeholder="toy description"/>
         <input type="submit" value="submit toy" />
       </form>
       <!-- createToy end -->


    </div>
  <% end %>
  <!-- End wishlist "partial" -->

  <!--  yield  -->
  <%= javascript_include_tag 'angular', 'data-turbolinks-track' => true %>
</body>
</html>
